name: Release

on:
  release:
    types: [published]

permissions:
    contents: read
    packages: write
    id-token: write

env:
  DOTNET_VERSION: "10.0.x"
  NODE_VERSION: "20"
  PROJECT_NAME: "LogicBuilder.DataContracts"

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --no-restore --configuration Release

  publish-packages:
    name: Publish Package to GitHub Packages and NuGet.org
    runs-on: ubuntu-latest
    if: github.repository_owner == 'BpsLogicBuilder'
    needs: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          source-url: https://nuget.pkg.github.com/bpsLogicBuilder/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: NuGet login
        uses: NuGet/login@v1
        id: nuget_login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --no-restore --configuration Release

      - name: Publish Packages
        run: |
          dotnet pack ${{ env.PROJECT_PATH }} --configuration Release -o ./nupkg --no-build
          dotnet nuget push ${{ env.NUGET_PACKAGE_PATH }} --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }}
          dotnet nuget push ${{ env.NUGET_PACKAGE_PATH }}--skip-duplicate --source ${{ env.NUGET_URL }} --api-key ${{ env.NUGET_API_KEY }}
        env:
          NUGET_URL: 'https://api.nuget.org/v3/index.json'
          NUGET_API_KEY: ${{ steps.nuget_login.outputs.NUGET_API_KEY }}
          NUGET_PACKAGE_PATH: "${{ format('./nupkg/{0}.*.nupkg', env.PROJECT_NAME) }}"
          PROJECT_PATH: "${{ format('./{0}/{0}.csproj', env.PROJECT_NAME) }}"
